:root {
  --browser-address-bar: 0px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-thumb {
    border-radius: 10px;
    background-color: #858dff;
    background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 75%,
        transparent 75%,
        transparent);
  }

  &-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: $full-vh;
  // background-color: #f0f3f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body,
ul,
ol {
  margin: 0;
}