html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: calc(100vh - var(--vh-offset));
  margin: 0;
  background-color: #f7f7f7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.075) 1px, transparent 0),
  linear-gradient(90deg, rgba(0, 0, 0, 0.075) 1px, transparent 0);
  background-size: 2rem 2rem;
}
