:root {
  --color-default: #292d36;
  --bg-gradient: linear-gradient(black, transparent);
  --color-primary: #535ce5;
  --color-black-text: #292d36;
  --color-white-text: #f9fbff;
  --color-primary-light: #989fff;
  --color-primary-lighter: #e0e2ff;
  --color-gray-shadow: rgba(53, 53, 53, 0.4);
  --color-gray: #c0c0c3;
  --color-gray-light: #d1d1da;
  --color-gray-lighter: #f6f6f6;
}
