$color-text-default: #222;
$color-text-deepviolet: #4644a9;
$color-text-pink: #ff51a2;
$color-text-visited: #2fadcc;

$color-text-primary: $color-text-deepviolet;

$banner-font-sizes: (
  null: 24px,
  480px: 30px,
  640px: 36px,
  768px: 44px,
  1024px: 50px,
);