$color-primary: #373c47;
$color-primary-dark: #ced4e2;
$color-purple: #504ebc;
$color-purple-light: #8f8cff;
$color-purple-lightest: #cacaff;
$color-green-light: #67c23a;
$color-green-bright: #4cd967;
$color-green-lightest: #f0f9eb;
$color-red-light: #f56c6c;
$color-red-bright: #dd524d;
$color-red-lightest: #fef0f0;
$color-grey: #969696;
$color-grey-dark: #262626;
$color-grey-light: #f3f3f3;
$color-grey-bright: #f0f0f0;
$color-yellow-bright: #ffe553c2;

$root-font-sizes: (
  null: 14px,
  480px: 14px,
  640px: 16px,
  768px: 16px,
  1024px: 16px,
);

$headline-font-size: (
  null: 1.5rem,
  480px: 1.75rem,
  640px: 2rem,
  768px: 2.5rem,
  1024px: 3rem,
);

$root-pds-h: (
  null: 1.5rem,
  480px: 1.75rem,
  640px: 2rem,
  768px: 2.5rem,
  1024px: 3rem,
);

$banner-pds-v: (
  null: 0.5rem,
  480px: 0.75rem,
  640px: 0.75rem,
  768px: 0.75rem,
  1024px: 0.75rem,
);

$banner-text-align: (
  null: left,
  480px: justify,
  640px: center,
  768px: center,
  1024px: center,
);

$form-max-width: (
  null: 22rem,
  480px: 25rem,
  640px: 30rem,
  768px: 35rem,
  1024px: 40rem,
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin pd-h($ps-map) {
  @each $ps-breakpoint, $ps in $ps-map {
    @if $ps-breakpoint == null {
      padding-left: $ps;
      padding-right: $ps;
    } @else {
      @media screen and (min-width: $ps-breakpoint) {
        padding-left: $ps;
        padding-right: $ps;
      }
    }
  }
}

@mixin pd-v($ps-map) {
  @each $ps-breakpoint, $ps in $ps-map {
    @if $ps-breakpoint == null {
      padding-top: $ps;
      padding-bottom: $ps;
    } @else {
      @media screen and (min-width: $ps-breakpoint) {
        padding-top: $ps;
        padding-bottom: $ps;
      }
    }
  }
}

@mixin text-align($ta-map) {
  @each $ta-breakpoint, $ta in $ta-map {
    @if $ta-breakpoint == null {
      text-align: $ta;
    } @else {
      @media screen and (min-width: $ta-breakpoint) {
        text-align: $ta;
      }
    }
  }
}

@mixin max-width($mw-map) {
  @each $mw-breakpoint, $mw in $mw-map {
    @if $mw-breakpoint == null {
      max-width: $mw;
    } @else {
      @media screen and (min-width: $mw-breakpoint) {
        max-width: $mw;
      }
    }
  }
}

@font-face {
  font-family: "FontAwesome";
  src: url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf")
      format("truetype"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2")
      format("woff"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf")
      format("truetype"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2")
      format("woff"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-regular-400.woff2")
      format("woff"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf")
      format("truetype"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-v4compatibility.ttf")
      format("truetype"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-v4compatibility.woff2")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

html {
  width: 100vw;
  height: 100vh;
  @include font-size($root-font-sizes);
  color: $color-primary;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: unset;
}

::selection {
  background-color: $color-purple-lightest;
}
