@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
    color: $color-primary-dark;
  }

  input {
    background-color: #000;
  }

  #keyword {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  #search-type {
    background-color: $color-grey-dark;
  }

  .table {
    width: 100%;
    overflow: hidden;
    thead {
      background-color: $color-grey-dark;
    }
  }

  ::selection {
    background-color: $color-purple;
  }
}
