@import "base";
@import "ui";
@import "components";

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  width: 100%;
  box-sizing: border-box;
}

main {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  @include pd-h($root-pds-h);
}

.headline {
  @include font-size($headline-font-size);
  text-align: center;
  width: 100%;
  display: inline-block;
  font-weight: 900;
  color: $color-purple;
  padding: 0.5rem;
  box-sizing: border-box;
}

.tracker {
  width: 100%;
  margin: auto;
  @include max-width($form-max-width);
  position: relative;
}

#form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    font-size: 0.75rem;
  }
}

#keyword {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: 2rem;
  flex: 1;
  order: 2;
  box-sizing: border-box;
  padding: 0 1rem;
  vertical-align: baseline;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  outline: 0;
  color: $color-grey;
  transition: border 0.5s;

  &:hover {
    border-color: $color-purple-light;
  }

  &:hover ~ #submit {
    background-color: $color-purple-light;
  }

  &:hover ~ #search-type {
    border-color: $color-purple-light;
  }
}

#submit {
  margin-left: 0;
  margin-right: 0;
  height: 2rem;
  order: 3;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0;
  padding: 0 1.5rem;
  background-color: $color-purple;
  color: white;
  transition: background-color 0.5s;
  outline: 0;
  cursor: pointer;
}

#search-type {
  margin-left: 0;
  margin-right: 0;
  height: 2rem;
  order: 1;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 0.5rem;
  background-color: $color-grey-light;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 0;
  color: $color-grey;
  transition: border 0.5s;
  outline: 0;
}

#hide-nil {
  position: absolute;
  right: -2rem;
  top: -1.5rem;
}

.banner-content {
  a {
    text-decoration: none;
  }
}

.result-loading {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  overflow: hidden;
  thead {
    background-color: $color-grey-bright;
    th {
      padding: 0.5rem 0.25rem;
    }
  }

  tbody {
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 25rem);
    width: inherit;
    tr {
      width: 100%;
      border-bottom: 1px solid $color-grey-bright;
    }
    td {
      padding: 0.75rem 0.25rem;
      font-size: 0.9rem;
      word-break: break-all;
    }
  }

  tr {
    text-align-last: left;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}

footer {
  width: 100%;
  .ft-text {
    text-align: center;
    color: $color-grey;
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
  }
}

.context-menu-item > img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  margin: auto;
  cursor: pointer;
  animation: imgfadein 0.5s forwards;
}

.loading {
  display: block;
  > div {
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
    display: block;
  }
}

@keyframes imgfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@import "dark";
