html,
body {
  margin: 0;
  padding: 0;
  //   background-repeat: no-repeat;
  //   background-image: radial-gradient(rgb(241, 92, 92), rgb(0, 132, 255)),radial-gradient(yellow, green);
  //   background-position: 0 0,50px 50px;
  //   background-size: 50% 50%, 50% 100%;
}

html {
  font-size: 14px;
}

body {
  overflow: hidden;
  height: 100vh;
  // background-image: linear-gradient(to bottom right, rgb(236, 185, 108),rgb(255, 91, 91),rgb(255, 0, 149)),linear-gradient(to bottom right, rgb(58, 211, 28),rgb(0, 132, 255),rgb(255, 230, 0));
}

@font-face {
  font-family: "FontAwesome";
  src: url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf");
  src: url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2")
      format("woff"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-regular-400.woff2"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-v4compatibility.ttf"),
    url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-v4compatibility.woff2");
  font-style: normal;
  font-weight: normal;
}

header {
  position: relative;
  font-family: Beatrice, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.75;
  a {
    color: #fff;
    text-decoration: none;
  }
  p {
    background-color: #504ebc;
    color: #fff;
    margin: 0;
    text-align: left;
    word-break: break-all;
    padding: 0.75rem 2rem;
  }

  .clse {
    position: absolute;
    right: 1rem;
    color: #fff;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

#app {
  padding: 0 2rem;
  margin: auto;
  box-sizing: border-box;
}

.headline {
  font-weight: 900;
  font-family: Beatrice, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.35rem;
  padding: 0.5rem;
  color: #504ebc;
}

.wavy-mark {
  color: #504ebc;
  text-decoration: underline wavy rgb(255, 128, 206);
}

.fm {
  width: 100%;
}

#form {
  display: flex;
  max-width: 20rem;
  margin: 0;
  width: 100%;
  flex-shrink: 1;
  // align-items: center;
  & > * {
    padding: 0.5rem 1rem;
    outline: 0;
    font-size: 0.75rem;
  }
}

#srtp {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 0;
  background-color: #f3f3f3;
  color: #969696;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: border 0.5s;
  order: 1;
}

#kw {
  flex-grow: 1;
  min-width: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
  transition: border 0.5s;
  color: #888888;
  order: 2;
  &:hover {
    border-color: #8f8cff;
  }

  &:hover ~ #smt {
    background-color: #8f8cff;
    border-color: #8f8cff;
  }

  &:hover ~ #srtp {
    border-color: #8f8cff;
  }
}

#smt {
  min-width: 4rem;
  background-color: #504ebc;
  color: white;
  border: 1px solid #504ebc;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: border 0.5s, background-color 0.5s;
  cursor: pointer;
  order: 3;
}

#hiswt {
  margin: 0;
  position: relative;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  vertical-align: middle;

  color: #334155;
  font-size: 1.5rem;
  outline: none;
  -webkit-appearance: none;
  
  &::after {
    position: absolute;
    font-family: FontAwesome;
  vertical-align: middle;

    line-height: 2rem;
    content: '\f06e';
    cursor: pointer;
  }

  &:checked:after {
    content: '\f070';
  }
}



.last-rlt {
  display: flex;
  justify-content: space-between;
}

.form-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  height: 2rem;
}

.rlt-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rlt-tb {
  max-height: calc(100vh - 23rem);
  overflow-y: scroll;
}

.last-rlt {
  color: #334155;
  flex: 1;
}

.tb {
  width: 100%;
  table-layout: fixed;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  color: #334155;
  position: relative;

  th {
    text-align: left;
    padding: 0.5rem 0.25rem;
  }

  thead tr:nth-child(1) {
    background-color: rgb(240, 240, 240);
  }

  thead {
    position: sticky;
    top: 0;
  }

  td {
    word-break: break-all;
    padding: 0.9rem 0.25rem;
    border-bottom: 1px solid rgb(240, 240, 240);
    font-size: 0.9rem;
    // user-select: none;
  }

  tr:last-of-type td {
    border: 0;
  }
}

.ft-text {
  text-align: center;
  font-size: 0.9rem;
  color: #8f8f8f;
  margin-top: 2rem;
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: underline wavy;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 2rem;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #334155;
  border-color: #334155 transparent #334155 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.copy-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.9);
  width: 10rem;
  height: 10rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  border-radius: 3px;
  .copy-item {
    display: flex;
    justify-content: center;
    padding: 0.25rem 0;
    color: #334155;
    user-select: none;

    > svg {
      pointer-events: none;
    }

    .fa {
      pointer-events: none;
    }
    cursor: default;
    img {
      width: 3rem;
      object-fit: contain;
    }
    &:first-child:hover {
      background: unset;
    }
    &:hover {
      background: rgb(230, 230, 230);
    }
  }

  #app-icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
  }
}

.copy-success {
  border-bottom: 0.5px solid #67c23a;
  color: #67c23a;
  background-color: #e1f3d8;
  width: 100%;
  border-radius: 2px;
  padding: 0.25rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  animation: infobarmv 4s forwards;
  position: absolute;
  top: -5rem;
  z-index: 999999;
}

.copy-fail {
  border-bottom: 0.5px solid #c23a3a;
  color: #c23a3a;
  background-color: #f3e3d8;
  width: 100%;
  border-radius: 2px;
  padding: 0.25rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  animation: infobarmv 4s forwards;
  position: absolute;
  top: -5rem;
  z-index: 999999;
}

.tips-wrap {
  max-width: 24rem;
  max-height: 100%;
  width: 100%;
  position: fixed;
  display: inline-block;
  bottom: 0;
  left: -24rem;
  transition: left 1s;
}

.tips-wrap.show {
  left: 0;
}

.colla-colla {
  cursor: pointer;
  position: absolute;
  padding: 0 0.5rem;
  right: calc(-1.75rem - 2px);
  bottom: 0;
  font-size: 1.75rem;
  color: #969696;
  border: 2px solid #eaebee;
  border-bottom: 0;
  border-left: 0;
  z-index: 999999;
  background-color: #fff;

  svg {
    transition: transform 1s;
  }
}

.colla-colla.ro {
  svg {
    transform: rotateZ(180deg);
  }
}

.colla-panel {
  padding: 1rem;
  border-top: 1px solid #eaebee;
  border-right: 1px solid #eaebee;
  max-height: 100%;
  text-align: left;
  background-color: #fff;
}

.colla-heading {
  width: 100%;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

.colla-divide {
  border-top: 1px solid #eaebee;
}

.colla-title {
  width: 100%;
  position: relative;
  font-size: 0.85rem;
  margin: 0.5rem 0;
}

.colla-title.ro::after {
  transform: translateY(-50%) rotate(90deg);
}

.colla-title::after {
  position: absolute;
  right: 0;
  top: 50%;
  font-family: FontAwesome;
  content: "\f105";
  transform: translateY(-50%);
  color: #969696;
}

.colla-item {
  font-size: 0.8rem;
  height: 100%;
  overflow: hidden;
  blockquote {
    margin-left: 0;
    margin-right: 0;
  }

  &.collapse {
    height: 0px;
  }

  em {
    font-size: 0.7rem;
    font-style: normal;
  }
}



@keyframes infobarmv {
  20%,
  80% {
    top: 0;
  }
  to {
    top: -5rem;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }

  header {
    p {
      text-align: center;
    }
  }

  #app {
    padding: 0 2rem;
  }

  .headline {
    font-size: 2rem;
    padding: 0.5rem;
  }

  #form {
    max-width: 25rem;
  }

  .tb {
    td {
      font-size: 1rem;
    }
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  #app {
    padding: 0 3rem;
  }

  .headline {
    font-size: 2.25rem;
    padding: 0.5rem;
  }

  #form {
    max-width: 30rem;
  }

  .tips-wrap {
    max-width: 40rem;

    left: -40rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  .headline {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 0.5rem;
  }

  #form {
    max-width: 35rem;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }

  .headline {
    font-size: 3rem;
    font-weight: 900;
    padding: 0.5rem;
  }

  #form {
    max-width: 40rem;
  }
}
